@import "src/assets/scss/veriabel";
@import "src/assets/scss/mixins";

.root {

}

.head {
  margin-bottom: 40px;
}

.row {
  display: flex;
  align-items: flex-start;
  margin: 0 -10px;
}

.col2 {
  max-width: 220px;
  flex: 0 0 220px;
  padding: 0 10px;
}

.col10 {
  max-width: calc(100% - 220px);
  flex: 0 0 calc(100% - 220px);
  padding: 0 10px;
}

.mb3 {
  margin-bottom: 30px;
}

.image {
  max-width: 100%;
  display: block;
}

.article {
  box-shadow: $boxShadow;
  padding: 10px;
}

.list {
  display: flex;
  align-items: flex-end;
  font-family: $RobotoLight;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  & .label {
    opacity: 0.6;
    margin-right: 10px;
  }

  & b {
    margin-right: 7px;
  }
}

.text {
  font-family: $RobotoRegular;
  font-size: 16px;
  line-height: 20px;
  transition: $expo;
}

.repo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  & .link {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:hover .text {
    color: $BLUE;
  }
}

.fieldGroup {
  display: block;
  position: relative;

  & input {
    display: block;
    width: 100%;
    height: 48px;
    font-family: $RobotoRegular;
    font-size: 18px;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid $GREY;
    padding: 10px 48px 10px 15px;
  }

  & input:focus {
    outline: none;
  }

  & .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.4;

    & svg {
      width: 50%;
      height: 50%;
    }
  }
}