@import "../../../assets/scss/mixins";
@import "../../../assets/scss/veriabel";

.root {
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $RobotoRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: $out;

  & img,
  & svg {
    width: 20px;
    max-height: 20px;
    margin-right: 10px;
  }

  &:focus {
    outline: none;
  }

  &.outline {
    color: $DARK;
    border: 1px solid $DARK;
    background: $WHITE;

    &:hover {
      color: $WHITE;
      border: 1px solid $DARK;
      background: $DARK;

      & svg path {
        color: $WHITE;
      }
    }

    & svg path {
      color: $DARK;
    }
  }

  &.primary {
    color: $WHITE;
    border: 1px solid $BLUE;
    background: $BLUE;

    &:hover {
      color: $WHITE;
      border: 1px solid $DARK;
      background: $DARK;
    }
  }

  &.red {
    color: $WHITE;
    border: 1px solid $RED;
    background: $RED;

    &:hover {
      color: $WHITE;
      border: 1px solid $DARK;
      background: $DARK;
    }
  }

  &.green {
    color: $WHITE;
    border: 1px solid $GREEN;
    background: $GREEN;

    &:hover {
      color: $WHITE;
      border: 1px solid $DARK;
      background: $DARK;
    }
  }

  &:disabled,
  &[disabled="disabled"] {
    pointer-events: none;
    background-color: rgba(151, 151, 151, 0.4) !important;
    border-color: rgba(151, 151, 151, 0.4) !important;
    color: $DARK;
  }
}
